<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="erros">
          <% if(errosValidacao){%>
              <ul>
                  <%for (var i = 0; i < errosValidacao.length; i++){%>
                      <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                  <%}%>
              </ul>
          <%}%>
      </div>
      <form class="" action="/produtos" method="post">
          <div class="">
              <label for="titulo">Titulo</label>
              <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="Coloque o título do livro aqui">
          </div>
          <div class="">
              <label for="preco">Preço</label>
              <input type="text" id="preco" name="preco" value="<%=produto.preco%>" placeholder="129,99">
          </div>
          <div class="">
              <label for="descricao">Descrição</label>
              <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Descreva o livro"><%=produto.descricao%> </textarea>
          </div>
          <input type="submit" name="" value="gravar">
      </form>
  </body>
</html>
